body{
font-family:Arial;
padding-top:70px;
}

.hero{
background:#f7f9fc;
padding:120px 0;
}

.section{
padding:80px 0;
}

.section-title{
text-align:center;
margin-bottom:50px;
font-weight:700;
}

.about-text{
max-width:800px;
margin:auto;
font-size:18px;
line-height:1.7;
text-align:center;
}


/* skill cards */

.skill-card{

background:white;
padding:25px;
border-radius:10px;
text-align:center;
box-shadow:0 5px 15px rgba(0,0,0,0.08);
transition:0.3s;

}

.skill-card:hover{

transform:translateY(-8px);
box-shadow:0 10px 25px rgba(0,0,0,0.15);

}


/* timeline */

.timeline{

position:relative;
margin:40px 0;

}

.timeline:before{

content:'';
position:absolute;
left:50%;
width:2px;
background:#ccc;
top:0;
bottom:0;

}

.timeline-item{

width:45%;
padding:20px;
background:white;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
border-radius:10px;
margin-bottom:40px;
position:relative;

}

.timeline-item:nth-child(odd){

left:0;

}

.timeline-item:nth-child(even){

left:55%;

}

.timeline-date{

font-size:14px;
color:#777;

}


footer{

background:#111;
color:white;
text-align:center;
padding:20px;

}
.timeline-item ul{
margin-top:15px;
padding-left:20px;
}

.timeline-item li{
margin-bottom:8px;
}
#contact a{
text-decoration:none;
font-weight:500;
color:#0d6efd;
}

#contact a:hover{
text-decoration:underline;
}
